@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --main-color: #2F303A;
    --dark-color: #202027;
    --light-color: white;
    --navhover-color: #2E3852;
    --button-color: #1762A7;
    --buttonhover-color: #2180d8;
    --buttonfocus-color: #2796ff;
    --accentext-color: #bc3a80;
    --circle1-color: #bc3a801a;
    --circle2-color: #3457b21a;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 1;
}